* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lobster", cursive;
  background-color: #fbf9fa;
  color: #2b2024;
}
header {
  min-height: 10vh;
  background: #2b2024;
  color: #fbf9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem 0;
}
.pulse {
  width: 3rem;
}
.intro {
  background-color: #2b2024;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-text {
  color: rgb(233, 233, 233);
  font-size: 3rem;
}
.hide {
  background-color: #2b2024;
  overflow: hidden;
}
.hide span {
  transform: translateY(100%);
  display: inline-block;
}
.slider {
  background-color: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.kick-pad {
  background: #ff689a;
}
.snare-pad {
  background: rgb(224, 160, 208);
}
.hihat-pad {
  background: rgb(241, 158, 64);
}
.kick-pad.active {
  background: #fd0054;
}
.snare-pad.active {
  background: rgb(218, 58, 178);
}
.hihat-pad.active {
  background: #f88f01;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.kick,
.snare,
.hihat {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2rem;
}

.controls h1 {
  margin-right: 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(88, 88, 88);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  background: rgb(88, 88, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.mute {
  outline: none;
}

.mute.active {
  background: rgb(182, 182, 182);
}

.tempo {
  margin: 3rem;
  width: 30%;
}
.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(88, 88, 88);
  cursor: pointer;
  border-radius: 1rem;
  outline: none;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

.headphones {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 30%;
  z-index: -1;
  opacity: 0.1;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
